<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Meine App</title>
   </head>
   <body>
<img src="static/logo.png" alt="Pokémon" />
      <h1><header>Your friendly neighbourhood Pokemon database</header></h1>
      <p> </p>
      <h2><article>Willkommen zu unsere Website vom Pokemon</article></h2>
      <p> </p>
      <article>Die Webseite <strong>meiner</strong>
      <a href="https://www.gymkirchenfeld.ch"><strong>Schule</strong> ist hier</a></article>
      <p> </p>
      <footer></footer>
   </body>
</html>
<p>Dieser Text wird in einem Absatz dargestellt</p>
<p>
  Hier beginnt ein weiterer Absatz. Normalerweise werden Absätze durch eine
  Leerzeile getrennt.
</p>

Hier ist <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">ein Link</a>
<p> </p>
Gemacht von <em>Petr</em> und <em>Reinaldo</em>